#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #f0f0f0;
}

.container {
  padding: 2px 16px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
  color: #ffffff;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  margin-top: 5px;
  flex-grow: 1;
}

.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #ffffff;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #a2a2a2;
  background-color: #000000;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 20px;
  position: relative;
  color: white;
}

@media (max-width: 767px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: auto;
  }

  .burger-menu {
    display: flex;
  }

  .logo {
    margin-right: auto;
  }

  .main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    margin-top: 1rem;
  }

  .main-nav li {
    margin-bottom: 1rem;
  }

  .main-nav a {
    padding: 0.5rem 1rem;
  }

  .main-nav.block {
    display: flex;
  }

  .main-nav.hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .logo {
    order: 1;
  }

  .main-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    order: 2;
  }

  .main-nav li {
    margin-left: 1rem;
  }

  .main-nav a {
    padding: 0.5rem 1rem;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0072eb;
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
